<mat-toolbar style="height: 100%;">
  <mat-toolbar-row>
    <button mat-flat-button style="width: 100%" routerLink="/schedule">Schedule</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-flat-button style="width: 100%" routerLink="/reservations">Reservations</button>
  </mat-toolbar-row>
</mat-toolbar>


<!--<button mat-flat-button style="width: 100%">Schedule<a href="/schedule"></a></button>-->

<!--<button mat-flat-button style="width: 100%">Reservations<a href="/reservations"></a></button>-->

